<!--Form Pessoa-->
<section class="flex-container">
  <h2>Pessoa</h2>

  <form class="form">
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input name="nome" matInput type="text" [(ngModel)]="filtro.nome">
  </mat-form-field>

 

  <div class="btn">
  <button (click)="pesquisarPessoas()" mat-raised-button color="primary">Pesquisar</button>
  </div>
  </form>
</section>

<app-passoa-grid [dataSource]="PessoaDataSource" [responsePageable]="responsePageable" [filtro]="filtro"></app-passoa-grid>
